<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <title>Admin Home</title>
</head>
<body>
    <div>
        Admin Page under Construction
    </div>
</body>
{% if messages  %}
{% for msg in messages %}
<script>
    alert("{{msg}}")
</script>
{% endfor %}
{% endif %}
</html>