{% extends 'base.html' %}

{% block title %} About Me {% endblock %}

{% block content %}
          

          <div class="content" style="margin-left: 250px;">
            {% for i in detail %}
            <div class="col-2" style="align-items: end;">
                <img src="{{i.photo.url}}" alt="" height="200px" width="200px" style="margin-left: 100px; margin-bottom: 20px; border-radius: 5px;">
            </div>
                <div class="col-6">
                     <input type="text" name="name" value="{{i.first_name}}" class="form-control"> 
                     <input type="text" name="last_name" value=" {{i.last_name}}" class="form-control">
                     <input type="text" name="gender" value="{{i.gender}}" class="form-control">
                     <input type="text" name="dob" class="form-control" value="{{i.dob}}">    
                     <input type="text" name="email" class="form-control" value="{{i.email}}">                                 
                     <input type="text" name="phone" class="form-control" value="{{i.phone}}">
                     <textarea name="address" class="form-control" cols="20" rows="5">{{i.address}}</textarea>
                </div>  
                 
            {% endfor %}                            
            </div>

  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}