{% extends 'base.html' %}
{% block title %} Post Comments {% endblock %}
{% block content %}
          <div class="content">
                <div style="margin-left: 50px;">
                    {% for i in say %}
                    <form action="{% url 'commentaction' %}" method="post">
                        {% csrf_token %}
                    <input type="hidden" name="id" value="{{i.id}}">
                    <p><b>{{i.title}}</b></p>
                    <p><img src="{{i.image.url}}" alt="" height="300" width="450"></p>
                    <p><em>{{i.post}}</em></p>                                
                    {% endfor %} 
                    
                     <textarea name="comment" cols="10" rows="5" class="form-control" placeholder="What do you have to say about it?"></textarea><br>    
                     <input type="submit" value="Comment" class="btn btn-primary p-2">  
                    </form>            
                </div>  
                               
            </div>
                   
{% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}