{% extends 'base.html' %}
{% block title %} Edit Posts {% endblock %}
{% block content %}
          <div class="content">
            <div style="margin-left: 50px;">
                
                {% for i in see %}
                <hr>
                <input type="text" name="title" value="{{i.title}}" class="form-control mb-2">
                <img src="{{i.image.url}}" alt="" height="500" width="620" style="border-radius: 15px;">                
                <p><em>{{i.post}}</em></p>    
                <p><a href="{% url 'likes' i.id %}"><img src="/media/like.png" alt="" height="25px" width="25px"></a><b style="color: blue;">{{i.likes}}&nbsp;</b>likes<a href="{% url 'likers' i.id %}">&nbsp;&nbsp;Liked by</a> &nbsp;&nbsp;<a href="{% url 'reply' i.id %}">Reply</a>&nbsp;&nbsp;<a href="{% url 'edit_post' i.id %}"></a>&nbsp;&nbsp;<a href="{% url 'delete_post' i.id %}" class="text-danger">Delete Post</a></p>                
                {% for k in comment %}  
                {% if i.id == k.post_id_id %}         
                <p class="col-8"><b style="color: blue;"><img src="{{k.user_id.photo.url}}" height="30px" width="30px" alt="">{{k.user_id.user_name}} :</b><em style="color: rgb(12, 12, 12);" class="form-control">{{k.comment}}</em></p>                                  
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
          </div>
          
  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}