{% extends 'base.html' %} 
{% block title %} Friend Requests {% endblock %}
{% block content %} 
            <link rel="stylesheet" href="/static/style.css">
          <div class="content">
                <div>
                    {% for i in key %}
                     <table class="">
                        <form action="{% url 'accept' i.id %}" method="post">
                            {% csrf_token %}
                        <tr>
                            <td><input type="hidden" name="user_id" value="{{i.request_from.id}}"></td>
                        </tr>                    
                        <tr>
                            <th>Name</th>
                            <td class="form-control"><div class="col-2">                                
                                <img src="{{i.request_from.photo.url}}" alt="No picture" height="100px" width="100px">                                                              
                            </div>{{i.request_from.first_name}}&nbsp;{{i.request_from.last_name}}</td>                 
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td class="form-control">{{i.request_from.gender}}</td>                                  
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td class="form-control">{{i.request_from.address}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="submit" value="Accept" class="btn btn-success"></td>                            
                            <td><a href="{% url 'reject' i.id %}" class="text-white nav-link" id="reject">Reject</a></td>
                            <!-- <td><a href="{% url 'view_profile' i.id %}" class="nav-link">Visit Profile</a></td> -->                        
                        </tr>  
                    </form>                                               
                     </table>   
                     {% endfor %}                                  
                </div>          
            </div>     

  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}