{% extends 'base.html' %}
{% block title %} Friends List {% endblock %}
{% block content %}
          <div class="content">
            
                <div class="col-8" style="display: grid; grid-template-columns: 2fr 2fr; gap: 50px; margin: auto;"> 
                    {% for i in buddy_list %}                   
                     <table>
                        <tr>
                            
                            <td class="form-control"><div class="col-2">                                
                                <img src="{{i.request_from.photo.url}}" alt="No picture" height="100px" width="100px" >                              
                            </div>{{i.request_from.first_name}}&nbsp;{{i.request_from.last_name}}</td>                        
                        </tr>
                        <tr>                            
                           <td><input type="hidden" name="friend_id" value="{{i.request_from.id}}"></td>                          
                        </tr>
                        <!-- <tr>                            
                            <td class="form-control">{{i.request_from.gender}}</td>                                  
                        </tr>
                        <tr>
                            
                            <td class="form-control">{{i.request_from.address}}</td>
                        </tr> -->
                        <tr>
                            <td><a href="{% url 'unfriend' i.id %}" onclick="return confirm('Are you sure you want to Unfriend this user?')" style="color: red;" class="nav-link" >Unfriend</a></td>
                        </tr>
                     </table> 
                     {% endfor %}                                                                                             
                </div>  
                               
            </div>

  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}