{% extends 'base.html' %} 
{% block title %} Liked by {% endblock %}
{% block content %} 

          <div class="content">
                <p>Liked by: </p> 
            {% for i in see %}                            
                <a href="{% url 'fetch_buddy' i.user_id_id %}">{{i.user_id.user_name}}</a>  
                <!-- Here 'i.user_id_id' is used with iteration so because we need id of register_tb,
                otherwise if we use 'i.id', we will get the id of liked_by_tb, which will not work. -->
                <b>, </b>
            {% endfor %} 
             </div>

  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}