<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Posts</title>
  <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
  <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
</head>
<body style="background-color:rgb(241, 244, 246);">
  <div class="container bg-white">
      <div class="navbar navbar-expand-lg bg-primary">
          <img src="/media/buddy_book_Logo.png" alt="" height="100" width="100" class="bg-white"><h5 style="color:white;">buddybook</h5>&nbsp;&nbsp;&nbsp;&nbsp;<h6 class="align-content-end"><em>Logged In User : </em><b class="text-white">{{key}}</b></h6><h6>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'log_out' %}" class="text-white">Sign Out?</a></h6>
      </div>
      <div class="row">            
          <div class="col-4 border">
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'friend_request' %}">Friend Requests</a></li>
                <li><a href="{% url 'friend_list' %}">My Friends</a></li>
                <li><a href="{% url 'my_photos' %}">My Photos</a></li>
                <li><a href="{% url 'about_me' %}">About Me</a></li>
                <li>Settings</li>
              </ul>
          </div>
          <div class="col-8 border">
            <div>
                {% for i in see %}
                <p><b>{{i.title}}</b></p>
                <p><img src="{{i.image.url}}" alt="" height="300" width="400"></p>
                <p><em>{{i.post}}</em></p>
                <p> <a href="{% url 'reply' i.id %}">Reply</a>&nbsp;&nbsp;<a href="{% url 'delete_post' i.id %}" class="text-danger">Delete Post</a></p>
                {% for k in comment %}  
                {% if i.id == k.post_id_id %}         
                <p class="col-8"><b style="color: blue;"><img src="{{k.user_id.photo.url}}" height="30px" width="30px" alt="">{{k.user_id.user_name}} :</b><em style="color: rgb(12, 12, 12);" class="form-control">{{k.comment}}</em></p>
                                  
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
           
          </div>
          <div>
            
          </div>
           
      </div>
  </div>
  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
</body>
</html>