{% extends 'base.html' %} 
{% block title %} My Photos {% endblock %}

{% block content %} 
    <!-- <link rel="stylesheet" href="/static/style.css">      -->
    <style>
        .my_pic {
    border: solid rgb(255, 255, 255);   
    border-width: 10px;
    margin-top: 20px; 
    margin-left: 50px;
    border-radius: 10px;
}
.inner{
    background-color: black;
    opacity: 90%;
    border-radius: 20px;
    
}
    </style>
<div class="content"> 
    <div class="inner">
        {% for i in see %}
        <a href="{% url 'view_notification' i.id %}"><img src="{{i.image.url}}" alt="" height="300px" width="400px" class="my_pic"></a>
         {% endfor %} 
    </div>
</div>         
                                       

    {% if messages  %}
            {% for msg in messages %}
            <script>
                alert("{{msg}}")
            </script>
            {% endfor %}
            {% endif %}
{% endblock %}