{% extends 'base.html' %} 
{% block title %} My Photos {% endblock %}
{% block content %} 
                          
                <div class="content">
                     
                    <div>
                        {% for i in see %}
                        <img src="{{i.image.url}}" alt="" height="400px" width="500px" style="margin: 20px; border-radius: 10px;">
                         {% endfor %} 
                    </div>
                   
                   
                   
                </div> 
                                       

    {% if messages  %}
            {% for msg in messages %}
            <script>
                alert("{{msg}}")
            </script>
            {% endfor %}
            {% endif %}
{% endblock %}