{% extends 'base.html' %}
{% block title %} Notifications {% endblock %}
{% block content %}
          <div class="content">
            <div> 
              <h5 style="background-color: rgb(242, 39, 39); color: white; text-align: center;">Notifications</h5> 
                <ol>  
                  {% for i in ntfy %}
                      {% if i.post_id.user_id.user_name == key %} 
                  
                      {% if i.like == 'liked' and i.remarks == 'unseen'  %}                      
                  <li><b class="text-primary">{{i.user_id.user_name}}&nbsp;&nbsp;</b><em>likes your post&nbsp;&nbsp;</em><b>{{i.post_id.title}}</b>&nbsp;&nbsp;<a href="{% url 'view_notification' i.post_id_id %}">See</a></li>
                      
                      {% elif i.comment == 'commented' and i.remarks == 'unseen'  %}                      
                  <li><b class="text-primary">{{i.user_id.user_name}}&nbsp;&nbsp;</b><em>commented on your post&nbsp;&nbsp;</em><b>{{i.post_id.title}}</b>&nbsp;&nbsp;<a href="{% url 'view_notification' i.post_id_id %}">See</a></li>
                      {% endif %}

                      {% endif %}
                  {% endfor %}
                </ol>                                  
                
            </div>
           
          </div>
          
  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}