{% extends 'base.html' %}
{% block title %} Post {% endblock %}
{% block content %}
          <div class="content">
              <table>
                <form action="{% url 'postaction' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <tr>
                    <th>Title</th>
                    <td><input type="text" name="title" class="form-control"></td>
                </tr>
                <tr>
                    <th>Post</th>
                    <td><textarea name="post" class="form-control" cols="50" rows="10"></textarea></td>
                </tr>
                <tr>
                    <th>Upload</th>
                    <td><input type="file" name="image" class="form-control"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Post" class="btn btn-success"></td>
                </tr>
                </form>
              </table>
          </div>
  
  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}