{% extends 'base.html' %}

{% block title %} Find people {% endblock %}

{% block content %}
          <div class="content">
            <div class="col-6">
                {% for i in my_set %}
                <img src="{{i.photo.url}}" alt="" height="350px" width="300px"></li>
                {% endfor %}
                <form action="{% url 'change_photo' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 style="color: blue;">Change Profile Picture</h6>
                <p><input type="file" name="photo" class="form-control"></p>
                <p><input type="submit" value="Change" class="btn btn-outline-success"></p>
                </form>
            </div>  
                         
          </div>
  {% if messages  %}
          {% for msg in messages %}
          <script>
              alert("{{msg}}")
          </script>
          {% endfor %}
          {% endif %}
{% endblock %}